<div class="container">
  <%= form_with url: "/search" do |form| %>
    <div class="row row-cols-3">
      <div class="col">
        <label for="amountInput" class="form-label">Amount</label>
        <%= form.number_field :amount, :value => 100, id: "amountInput", class: "form-control" %>
      </div>
      <div class="col">
        <label for="baseSelect" class="form-label">From</label>
        <%= collection_select(:base, :id ,Currency.all, :id, :acronym_with_name, selected: @defaultBaseId, prompt: true, id: "baseSelect", class: "form-select") %>
      </div>
      <div class="col">    
        <label for="targetSelect" class="form-label">To</label>
        <%= collection_select(:target, :id, Currency.all, :id, :acronym_with_name, selected: @defaultTargetId, prompt: true, id: "targetSelect", class: "form-select", type: "date") %>
      </div>
      <div class="col">    
        <label for="selectedDate">Date</label>
        <%= form.date_field("date", value: Date.today, max: Date.today, id: "selectedDate") %> 
      </div>
      <div class="col">
      </div>
      <div class="col">
        <label for="convert" class="form-label"></label>
        <%= form.submit("Convert", id: "convert", class: "form-control btn btn-dark")%>
      </div>
    <% end %>
</div>
