<div id="<%= dom_id exchange_rate %>">
  <p>
    <strong>Timestamp:</strong>
    <%= exchange_rate.timestamp %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= exchange_rate.date %>
  </p>

  <p>
    <strong>base_symbol:</strong>
    <%= exchange_rate.base_symbol %>
  </p>

  <p>
    <strong>target_symbol:</strong>
    <%= exchange_rate.target_symbol %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= exchange_rate.rate %>
  </p>

</div>
